html{
   scroll-behavior: smooth;
       
}

body {
   background:
 background-size: cover;
   padding: 0px;
   margin:0px;
   text-decoration: none;
   border-bottom: none;
}

.main-container{
  font-family:'',sans-serif;
  min-height: 490px;
  text-align: center;
  color:white;
  padding-top: 200px;
  background: url(https://cdn.mos.cms.futurecdn.net/BzWbAhUS4WYN6WTXQdGCdi-1200-80.jpg);

  background-repeat: no-repeat;
  background-size: cover;
}

.cont{
  font-family:'',sans-serif;
  min-height: 490px;
  text-align: center;
  color:white;
  padding-top: 200px;
  background: url(https://cdn2.vectorstock.com/i/1000x1000/03/86/blue-background-with-stars-vector-4790386.jpg);
  /*background-color:cyan ;*/
  background-repeat: no-repeat;
  background-size: cover;

}
.conte{
  font-family:'',sans-serif;
  min-height: 490px;
  text-align: center;
  color:white;
  padding-top: 200px;
  background: url(https://cdn.pixabay.com/photo/2014/06/16/23/40/blue-370127_1280.png);
  /*background-color:cyan ;*/
  background-repeat: no-repeat;
  background-size: cover;

}

.top-part hr{
  width: 600px;
}

.navigation-bar ul li a{
 text-decoration:none;

}

.nav ul{
  float: right;
  list-style-type: none;
  margin: 40px;
}

.nav a:hover{
    color:gray;
    background: #02b8dd;
    filter:brightness(50%);
    text-shadow: -1px -1px -1px darkgray;
  }


.nav ul li{
  display: inline-block;
  font-family:'opensans-regular',sans-serif;
}

.nav ul li a{
  padding: 8px 25px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.content{
 padding-top: 100px;
padding-bottom: 100px;
color: #7A7A7A;;
text-align: center;
font-size: 20px;
width: 60%;
margin: 0 auto;

}
.about{
  background-color: #2B2B2B;
}
.icons {
  text-align:center;

  }
.icons i{
  font-size: 25px;

  }
.icons ul li{
  display: inline;
  list-style: none;
  padding-right: 30px;
}

.icons ul li a{
  color: white;
}

.container{
height: 180px;
background: #838C95;
 padding-top: 100px;
padding-bottom: 300px;
font-size: 30px;
color:white;

}
h5{
  text-align: center;

}

.footer{
text-align: center;
background-color:rgb(0,0,0,0.8);
padding-top: 100px;
padding-bottom: 90px;
font-size: 20px;
color:white;

}

.footer {
    font-size:20px;
   
}
.p{
  text-align: center;
  background-color:rgb(0,0,0,0,8);
  padding-top:top:100px;
  padding-bottom:90px;
  font-size:20px;
}
.button {

  padding: 8px 15px;
  font-size: 14px;
  min-width: 160px;
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.button-1 {
    display: block;
    text-align: center;
    background: black;
    border-radius: 3px;
    color: #fff;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
}
.button-1:hover {
    background-color: #02b8dd;
    color: darkblue;
}