html{
   scroll-behavior: smooth;
 
}
body {
    line-height: 30px;
   padding: 0px;
   margin:0px;
   background: url(https://cdn.mos.cms.futurecdn.net/BzWbAhUS4WYN6WTXQdGCdi-1200-80.jpg);
   background-size: cover;
}
.main-container{
  font-family:'opensans-regular',sans-serif;
  min-height: 490px;
  text-align: center;
  color:white;
  padding-top: 200px;
  //background-color:powderblue;
  //background-repeat: no-repeat;
  background-size: cover;
}

.top-part hr{
  width: 600px;
}

.navigation-bar ul li a{
 text-decoration:none;

}

.nav ul{
  float: right;
  list-style-type: none;
  margin: 40px;
}
.nav a:hover{
  color:cyan;
  background:white;
  filter: brightness(65%); 
  text-shadow: -1px -1px -1px black;
}

.nav ul li{
  display: inline-block;
  font-family:Arial, Helvetica, sans-serif;
}

.nav ul li a{
  padding: 8px 25px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.content{
 padding-top: 100px;
padding-bottom: 100px;
color: #7A7A7A;;
text-align: center;
font-size: 20px;
width: 60%;
margin: 0 auto;
}
.about{
  background-color: #2B2B2B;
}
.icons {
  text-align:center;

  }
.icons i{
  font-size: 25px;

  }
.icons ul li{
  display: inline;
  list-style: none;
  padding-right: 30px;
}

.icons ul li a{
  color: white;
}

.container{
height: 180px;
background: #333;
 padding-top: 100px;
padding-bottom: 300px;
font-size: 30px;
color:white;

}
h5{
  text-align: center;

}

.footer{
text-align: center;
background-color:#333;
padding-top: 100px;
padding-bottom: 90px;
font-size: 20px;
color:white;

}

.footer {
    font-size:20px;
   
}
.p1{
  text-align: center;
  background-color:#333;
  padding-top:top:100px;
  padding-bottom:90px;
  font-size:20px;

}
.img{
  height: 100%;
}